body {
    background-color: #263337;
 }

header {
    width: 850px;
    height: 100px;
    background-color: #36494f;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}


#grafico {
    background-color:#36494f;
    height: 300px;
    width: 470px;
    margin: auto;
    
}

#container {
    background-color: #36494f;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

#valores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor {
    width: 300px;
    height: 40px;
    background-color: #263337;
    margin-top: 10px;
    border-radius: 5px;
}

/* LISTA DE ITENS */

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

li {

    list-style: none;
    padding: 5px;
    border-radius: 5px;
}


button {
    border-style: none;
    color: #ebfaff;
    background-color: #36494f;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    padding: 5px;
    border-radius: 5px;

}
button:hover {
    background-color:  #ebfaff;
    color: #263337;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
}